body {
    font-family: Arial, Karla, sans-serif;
    margin: 0%;
    padding: 0;
    background-color: #81c3d7;
    flex-wrap: wrap;
    

}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: auto;
}
header {
    background-color: #16425b;
    position: sticky;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    position: relative;
}
p {
    line-height: 1.6;
    margin: 10px 0;
}
.contact-header {
    text-align: center;
}
nav {
      display: flex; align-items: center; justify-content: space-between;
      margin: 0;
      padding: .9rem 0;
      text-decoration-color: azure;
    }
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-decoration-color: azure;
    position: relative;
}
nav ul li {
    margin: 0 15px;
    list-style: none;  
    text-decoration-color: azure;
    position: relative;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration-color: azure;
    position: relative;
}
nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(9, 209, 25);
    color: rgb(9, 209, 25);
}
#Homepage {
    border: solid 2px #2f6690;
    border-radius: 10px;
    text-align: center;
    padding: 40px 10px;
    background-color: #d9dcd6;
    flex-wrap: wrap;

}
.hero-buttons ul {
    display: flex;
    gap: 80px;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    align-items: center;
    justify-content: center;    
}


.hero-buttons ul a {
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0px;
    padding: 10px 20px;
    width: 200px;
    border: solid 2px #2f6690;
    border-radius: 30px;
    flex-wrap: wrap center;
}
.hero-buttons li {
    font-size: 16px;
    background-color: #16425b;
    cursor: pointer;
    border-radius: 30px;
}
.hero-buttons li:hover {
    background-color: #0b2a3b;
    color: rgb(9, 209, 25);


}
#aboutUs, #Services, #contactUs, #News {
    border: solid 2px #2f6690;
    border-radius: 10px;
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #d9dcd6;
}
#aboutUs h2, #Services h2, #contactUs h2, #News h2 {
    text-align: center;
    margin-top: 0px;
}
.service-description {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}
.service-description ul {
    list-style-type: disc;
    padding-left: 20px;
}
.service-description li {
    margin-bottom: 10px;
    line-height: 1.0;
}
.booking-button {
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
}
.booking-button a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #16425b;
    border-radius: 30px;
    font-weight: bold;
    justify-content: center;
}
.booking-button a:hover {
    background-color: #0b2a3b;
    color: rgb(9, 209, 25);
}

.contact-header {
    text-align: center;
    margin-top: 20px;
}
.contact-info .booking-button{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px;
    margin-top: 10px;
    background-color: #d9dcd6;
    padding: 20px;
    border: solid 2px #2f6690;
    border-radius: 10px;
}
form label {
    margin-bottom: 5px;
    font-weight: bold;
}
form input, form textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #16425b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.mvvat {
    border: solid 2px #2f6690;
    border-radius: 10px;
    text-align: center;
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #d9dcd6;
}
.mvvat h2 {
    text-align: center;
    margin-top: 20px;
}   
.mvvat ul {
    list-style-type: disc;
    padding-left: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.service-title {
    border: solid 2px #2f6690;
    border-radius: 10px;
    text-align: center;
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #d9dcd6;
}

.service-title h2 {
    text-align: center;
    margin-top: 0px;
}
.service-title ul {
    list-style-type: disc;
    padding-left: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.news-article {
    border: solid 2px #2f6690;
    border-radius: 10px;
    text-align: left;
    padding: 20px 50px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #d9dcd6;
}
.spacer {
    height: 20px; /* Adjust the height as needed */
    background-color: #81c3d7; /* Match the body background color */
    margin: 50px 0;
    justify-content: center;
    display: flex;
}
.calendar {
    margin: 30px;
    
}
@media (max-width: 750px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero-buttons ul {
        flex-direction: column;
        gap: 20px;
    }
    form input, form textarea {
        width: 80%;
    }
}